.container {
    width: 350px;
    margin: auto;
}

.space-button  {
    margin: 10px auto;
    padding: 10px;
    width: 100px;
    border-radius: 20px;
   
}
.align-button {
    display: flex;
    width: 90%;
    margin: auto;
}
